.bg {
    background-image: url(./531726.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
 

}

.center {
    color: aliceblue;
    text-align: center;
}

ul{
   display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.link {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.link:hover {
    font-size: 25px;
}